<div class="row">
  <div class="col-xs-12 col-md-6">
    <ul class="list-group">
      <li class="list-group-item" [ngClass]="{'active': showSavings == 'goal'}">
        <label>
          <input type="radio" name="optionsRadios" value="goal" [(ngModel)]="showSavings" (click)="resultService.destroyResult()">
          I want to find out how long it will take to reach a certain amount
        </label>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-6">
    <ul class="list-group">
      <li class="list-group-item" [ngClass]="{'active': showSavings == 'projection'}">
        <label>
          <input type="radio" name="optionsRadios" value="projection" [(ngModel)]="showSavings" (click)="resultService.destroyResult()">
          I want to know my balance at some point in the future
        </label>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-savings-goal *ngIf="showSavings === 'goal'"></app-savings-goal>
    <app-savings-projection *ngIf="showSavings === 'projection'"></app-savings-projection>
  </div>
</div>


