<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <app-project></app-project>
    </div>
    <div class="col-xs-12 col-md-6">
      <app-loan></app-loan>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <app-projection-type-switcher *ngIf="projectService.getCurrentProject() && loanService.hasLoans()"></app-projection-type-switcher>
    </div>
    <div class="col-xs-12 col-md-6">
      <app-result *ngIf="projectService.getCurrentProject() && loanService.hasLoans()"></app-result>
    </div>
  </div>
</div>
